/* 以下为替换鼠标光标 */
/* 封面大图 */
.banner {
    cursor: url(../image/Arrow.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 封面向下 */
.scroll-down-bar {
    cursor: url(../image/Hand2.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框关闭按钮 */
#local-search-close.close {
    cursor: url(../image/Hand2.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框、输入框 */
input,
textarea {
    cursor: url(../image/IBeam.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 所有可跳转链接 */
a[href] {
    cursor: url(../image/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 按钮 */
button[class] {
    cursor: url(../image/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 补充按钮 */
svg,
span.vat,
span.vnick {
    cursor: url(../image/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}